<h1>Our Branches</h1>
<% @places.each do |p|%>
  <div class="card text-white bg-success mb-3" >
    <div class="card-header"><%= p.name %></div>
    <div class="card-body">
      <p class="card-text">You can go to our store to sell your car or to buy a car</p>
      <%= link_to "View it on map", "https://www.google.com/maps/search/?api=1&query=#{p.name}" ,class: "btn btn-light" %> 
    </div>
  </div>
<% end %>