<div class="center jumbotron">
  <h1 class="display-3">Car Reselling Corporation</h1>
  <p>Here you will get the best price for your car. Please login as seller to add your car for reselling. You can also search for cars as per your preferences to buy a car</p>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

