<header>
  <nav class="navbar navbar-expand-sm fixed-top navbar-inverse navbar-dark bg-dark">   
    <div class="container">     
      <a class="navbar-brand" href="/home/index">Car Reselling Corp.</a> 
      <ul class="nav navbar-nav ml-auto">           
        <li><%= link_to "Sign up", '#', class: 'nav-link'%></li>
        <li><%= link_to "Log in", '#', class: 'nav-link'%></li>
      </ul>
    </div>
  </nav>
</header>